html,body {
  background-color: black;
  margin: 0;
  padding: 0;
  color:white;

}

a{
  color:white;
  text-decoration: none;
}
a:visited{
  color:white;
}

a:hover{
  color:rgb(103, 103, 103);
}

.game_screen{
  height:60vh;
  text-align:center;
  #toppage_canvas{
    // 中央揃え用
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }

}
