*{line-break:strict;margin:0;padding:0;
border-color:#000080;
scrollbar-arrow-color:#4682B4;
scrollbar-3dlight-color:#FFFFF0;
scrollbar-highlight-color:#4682B4;
scrollbar-shadow-color:#FFFFF0;
scrollbar-darkshadow-color:#4682B4;
scrollbar-face-color:#FFFFF0;
scrollbar-track-color:#ced7fc;}
body{background-color:#ced7fc;
padding:15px 0;color:#4F4F4F;
font-size:13px;
line-height:130%;}
a{text-decoration:none;color:#8B4513;}
a:visited{color:#B8860B;}
a:hover{color:#B0C4DE;}
a img{border:0;}
dd{margin-left:35px;}
.new{color:#FF6347;font-weight:bold;}

.all{width:100%;text-align:center;}
.back{text-align:center;width:auto;}
.ce{margin-right:auto;margin-left:auto;
text-align:left;}
.alce{margin-right:auto;margin-left:auto;
text-align:left;width:650px;}
li{list-style-type:none;}

.AA{font-size:12pt;line-height:normal;
text-align:left;}
.Ati{font-size:16px;color:red;padding:3px;
text-align:left;margin-left:20px;}
.A1{font-size:12pt;line-height:normal;
background-color:#F8F8FF;
margin-top:10px;margin-bottom:15px;
text-align:left;padding:10px;border:1px solid;
margin-right:auto;margin-left:auto;}
.A1 a{text-decoration:underline;color:blue;}
.A1 a:visited{color:purple;}
li.ch{margin-right:15px;}