html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.main_select {
  height: 100vh;
}

.main_select .main_select_into {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main_select .main_select_into a {
  color: white;
  text-decoration: none;
}

.main_select .main_select_into a:visited {
  color: white;
}

.main_select .main_select_into a:hover {
  color: #676767;
}
